<div class="background">
  <%= image_tag("beach_background.png", alt: "Beach", id: "background-video") %>
  <div id="door">
    <%= link_to("about") do %>
    <%= image_tag("beach_door_open.png", alt: "Door") %>
    <% end %>
  </div>
  <div>
    <%= image_tag("sunset_cloud_1.svg", alt: "Cloud", class: "sunset-cloud-1") %>
  </div>
  <div>
    <%= image_tag("sunset_cloud_2.svg", alt: "Cloud", class: "sunset-cloud-2") %>
  </div>
  <div>
    <%= link_to("projects") do %>
      <%= image_tag("boat.svg", alt: "Boat To Island", class: "boat") %>
    <% end %>
  </div>
  <div>
    <%= image_tag("beach_ball.svg", alt: "Beach Ball", class: "beach_ball") %>
  </div>
  <div>
    <%= image_tag("boat_in_distance.svg", alt: "Boat in the distance", class: "background_boat") %>
  </div>
  <div>
    <%= image_tag("beach_sign.png", alt: "Sign Post", class: "sign-post") %>
  </div>

  <div class="post-container">
    <%= image_tag("post-it-note.png", alt: "Sign Post", class: "post-it-beach ") %>
  </div>

  <div class="post-it-container d-none">
    <div class="parchment">
    <%= image_tag("post-it-note.png", alt: "Post-it", class: "parchment") %>
      <div class="popup-content">
        <h1>Embark on an Adventure:</h1>
        <p>Click the boat to embark on a journey to "Project Island." Explore uncharted territories, uncover hidden treasures, and let the waves of curiosity carry you away. This is a part of my portfolio designed to showcase my skills and projects for full-stack web development roles. Click the boat to start your exploration!</p>
        <h1>Or unlock my story:</h1>
        <p>Behind the mysterious door lies a world of tales waiting to be unveiled. Click the door to discover more about me. Immerse yourself in the pages of my life. This door leads to the "About Me" page, where you can delve into my hobbies, education, work experience, and much more. It's an opportunity to get to know the person behind the portfolio. Click the door to start your journey into my story!</p>
        <%= image_tag("x.png", class: "close-popup", id: "close-popup")%>
      </div>
    </div>
  </div>
</div>
