<div class="container">
  <div class="background">
    <%= image_tag("beach_background.png", alt: "Beach", id: "background-video") %>
    <div id="door">
      <%= link_to("about") do %>
      <%= image_tag("beach_door_open.png", alt: "Door") %>
      <% end %>
    </div>
    <div>
      <%= image_tag("sunset_cloud_1.svg", alt: "Cloud", class: "sunset-cloud-1") %>
    </div>
    <div>
      <%= image_tag("sunset_cloud_2.svg", alt: "Cloud", class: "sunset-cloud-2") %>
    </div>
    <div>
      <%= link_to("projects") do %>
        <%= image_tag("boat.svg", alt: "Boat To Island", class: "boat") %>
      <% end %>
    </div>
    <div>
      <%= image_tag("beach_ball.svg", alt: "Beach Ball", class: "beach_ball") %>
    </div>
    <div>
      <%= image_tag("boat_in_distance.svg", alt: "Boat in the distance", class: "background_boat") %>
    </div>
    <div>
      <%= image_tag("beach_sign.png", alt: "Sign Post", class: "sign-post d-none") %>
    </div>

    <div class="post-container">
      <%= image_tag("option_sign.png", alt: "Sign Post", class: "sign-post options") %>
      <%= image_tag("note.png", alt: "Note", class: "post-it-beach d-none") %>
    </div>
    <div class="post-it-container d-none">
      <div class="parchment">
      <%= image_tag("navigation_note.png", alt: "Post it", class: "parchment") %>
        <div class="popup-content-beach">
          <%= image_tag("cross.png", class: "close-popup-beach", id: "close-popup")%>
        </div>
      </div>
    </div>
  </div>
</div>
