<div class="background">
  <%= image_tag("beach_background.png", alt: "Beach", id: "background-video") %>
  <div id="door">
    <%= link_to("about") do %>
    <%= image_tag("beach_door_open.png", alt: "Door") %>
    <% end %>
  </div>
  <div>
    <%= image_tag("sunset_cloud_1.svg", alt: "Cloud", class: "sunset-cloud-1") %>
  </div>
  <div>
    <%= image_tag("sunset_cloud_2.svg", alt: "Cloud", class: "sunset-cloud-2") %>
  </div>
  <div>
    <%= link_to("projects") do %>
      <%= image_tag("boat.svg", alt: "Boat To Island", class: "boat") %>
    <% end %>
  </div>
  <div>
    <%= image_tag("beach_ball.svg", alt: "Beach Ball", class: "beach_ball") %>
  </div>
  <div>
    <%= image_tag("boat_in_distance.svg", alt: "Boat in the distance", class: "background_boat") %>
  </div>
  <div>
    <%= image_tag("beach_sign.png", alt: "Sign Post", class: "sign-post") %>
  </div>

  <div class="post-container">
    <%= image_tag("post-it-note.png", alt: "Sign Post", class: "post-it-beach ") %>
  </div>

  <div class="post-it-container d-none">
    <%= image_tag("post-it-note.png", alt: "Post-it", class: "parchment") %>
    <div class="popup-content">
      <h2>Embark on an Adventure:</h1>
      <h2>Click the boat to journey to the island.</h2>
      <h2>Or unlock my story:</h2>
      <h3>Click the door to discover more about me.</h3>
      <%= image_tag("x.png", class: "close-popup", id: "close-popup")%>
    </div>
  </div>

</div>
