<div class="container">
  <%= render 'shared/navbar' %>
  <div class="background">
    <%= video_tag("background.mp4",  controls: false, autoplay: true, loop: true, muted: true, playsinline: true, id: "background-video-index") do %>
      Your browser does not support the video tag.
    <% end %>
    <%= video_tag("start.mp4", controls: false, autoplay: true, loop: true, muted: true, playsinline: true, id: "start-clicked", class: "start") do %>
      Your browser does not support the video tag.
    <% end %>
    <%# <%= image_tag("start.gif", alt: "Start Button", id: "background-video", class: "start") %>
    <div class="svg-container", id="svg-container">
      <div id='train-svg'>
        <%= image_tag("train4.svg", alt: "Train", class: "train-image", id: "train-image") %>
        <%= image_tag("door-open-unscreen.gif", alt: "Open Train Door", id: "train-door", class: "d-none train-door") %>
      </div>
    </div>
    <div class="cloud-container">
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-2-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-3-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-4-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-9-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-10-svg") %>
      <%= image_tag("cloud.svg", alt: "Cloud", class: "cloud", id: "cloud-11-svg") %>
    </div>
    <div>
      <%# <%= image_tag("start.png", alt: "Scroll", id: "closed-parchment", class: "start") %>
      <%= image_tag("note.png", alt: "Note", class: "parchment2 d-none") %>
    </div>
    <%# <div class="pop-up-container d-none">
      <div class="parchment">
        <%= image_tag("index_note.png", alt: "Post it", class: "parchment") %>
        <%# <div class="popup-content-beach">
          <%= image_tag("cross.png", class: "close-popup-beach", id: "close-popup")%>
        <%# </div>
      </div>
    </div> %>
      <%= image_tag("butterfly-unscreen (3).gif", alt: "butterfly", class: "butterfly") %>
  </div>
  <div class="speech-container">
    <div class="speech-bubble">
      <h2 id="text-placeholder"></h2>
    </div>
  </div>
      <%# <div>
        <div class="sm-bubble"></div>
        <div class="md-bubble"></div>
        <%# <div class="lg-bubble"></div> %>
      <%# </div> %>
</div>
