<div class="background">
  <h3 class="demo-announcement">Demo videos available for 2 out of 4 apps,<br> more coming soon.</h3>
  <%= image_tag("project-island.png", alt: "Project Island", id: "background-video") %>
  <%= link_to ("beach") do %>
    <button class="project_back_button">BACK<i class="fa-solid fa-caret-up fa-rotate-270" style="color: #000000;"></i></button>
  <% end %>
  <div class="map-object" id="jam">
    <%= image_tag("Jam.png", alt: "Jam") %>
        <%# <% end %>
        <%# <div id="music">
          <%= image_tag("music-notes.png", alt: "Music-notes") %>
        <%# </div> %>

    <div id="jam-description" class="description-box d-none">
    <h1 style="color: red;">
      <%= link_to "Click here: Jam Demo Video", "https://www.loom.com/share/04254e9ec62744b4add48e5c1880a6b5?sid=2918d369-835d-49bd-8e23-fc6f51f7593cs", target: "_blank" %> <br>
    </h1>
    Description: A music matchmaking app, connecting you with other Spotify users based on your most listened to genres.<br><br>
    Role: I led a team of four talented developers in a 10 day project to create Jam playing a crucial role in designing and developing the application. I was responsible for implementing key features, such as the visual stories feauture, sign up process and in-app chatrooms, and ensuring the app's overall functionality and user experience.
      <br><br>
    Key Features:
      <ul>
        <li>Music Matchmaking: Connect with like-minded Spotify users.</li>
        <li>Seamless Spotify Integration: Sync your Spotify account.</li>
        <li>In-App Chatrooms: Chat with matches in real-time.</li>
        <li>Music Playback: Play songs through the app.</li>
        <li>Visual Stories: Post and share musical experiences.</li>
        <li>Swipe to Match: Easy, music-based connections.</li>
        <li>Mobile Responsive</li>
      </ul>
      Go to: <%= link_to "Jam", "https://jam-portfolio-6bb344866d62.herokuapp.com", target: "_blank" %>
    </div>
  </div>

  <div class="map-object" id="groove">
    <%# <%= link_to("https://groove-ltd-d56e445f9f55.herokuapp.com/") do %>
    <%= image_tag("groove.png", alt: "Groove") %>
    <%# <% end %>
    <div id="groove-description" class="description-box-2 d-none">
      <h2>Groove</h2>
      Description: Groove is an innovative instrument sharing app that revolutionizes the way musicians access and share musical instruments.
      <br><br>
      Role: Led the development of the map feature, designed the landing page, and handled front-end development. Implemented critical features, including instrument listings, user profiles, and the booking system, ensuring a seamless user experience.
      <br><br>
      Key Features:
      <ul>
        <li>Instrument Listings: Discover a wide range of instruments available for rent.</li>
        <li>Profile Management: Create and manage your musician profile, including instrument listings and availability.</li>
        <li>Booking System: Effortlessly book instruments.</li>
        <li>Review and Ratings: Leave and receive reviews.</li>
        <li>Rent and Earn: Rent out your unused instruments and generate income.</li>
      </ul>
      Go to:<%= link_to "Groove", "https://gr0ove-281440af47f2.herokuapp.com", target: "_blank" %>
    </div>
  </div>

  <div class="map-object" id="candella">
    <%# <%= link_to("https://groove-ltd-d56e445f9f55.herokuapp.com/") do %>
    <%= image_tag("candella.png", alt: "Candella Sparks logo") %>
    <%# <% end %>
    <div id="candella-description" class="description-box-3 d-none">
      <h1 style="color: red;">
        <%= link_to "Click here: Candle Website Demo Video", "https://www.loom.com/share/16f6c9696ce54bc28251d253a6c87fb6?sid=c5a69430-7dc2-4f44-b7e4-d5ceb04ea528", target: "_blank" %> <br>
      </h1>
      Description:
      <br>
      Developed a full-stack Ruby on Rails application for Candella Sparks, a candle-selling platform. Integrated Stripe payment processing to facilitate seamless transactions and enhance user experience.
      <br><br>
      Role:
      <br>
      Led end-to-end development and deployment.
      <br><br>
      Key Features:
      <ul>
        <li>Mobile Responsive Design: Created a user-friendly interface optimized for both desktop and mobile devices.</li>
        <li>Integrated Stripe payment processing for secure transactions</li>
        <li>Designed and implemented an intuitive user interface</li>
        <li>Managed end-to-end development and deployment</li>
      </ul>
      Go to: <%= link_to "Candella Sparks", "https://candella-sparks-and-co-bdba3166670f.herokuapp.com", target: "_blank" %>
    </div>
  </div>
  <div class="map-object" id="realfood">
    <%# <%= link_to("https://groove-ltd-d56e445f9f55.herokuapp.com/") do %>
    <%= image_tag("realfood.png", alt: "Candella Sparks logo") %>
    <%# <% end %>
    <div id="real-food-description" class="description-box-4 d-none">
      <h2>Real Food</h2>
      Description: Real Food is a meal rating app that evaluates the healthiness of meals based on users' input of ingredients, age, gender, and activity levels. Developed a sophisticated scoring system considering calories, macronutrients, and micronutrients.
      <br><br>
      Role: Led end-to-end development and deployment.
      <br><br>
      Key Features:
      <ul>
        <li>Meal Rating System: Developed a sophisticated scoring system considering calories, macronutrients, and micronutrients.</li>
        <li>User Profiles: Implemented user profiles for tracking meal ratings and preferences.</li>
        <li>Input Form: Created an intuitive form for users to input ingredients and personal details.</li>
        <%# <li>Mobile Responsive Design: Created a user-friendly interface optimized for both desktop and mobile devices.</li> %>
      </ul>
      Go to: <%= link_to "Real Food", "https://realfoodapp-fba8277cab67.herokuapp.com/", target: "_blank" %>
    </div>
  </div>
</div>
