<div class="background">
  <div class="background-elements">
    <%= video_tag("about_me_vid.mp4", autoplay: true, loop: true, muted: true, playsinline: true, id: "background-video") do %>
      Your browser does not support the video tag.
    <% end %>
    <div id="tv-container">
      <%= video_tag("tv-no-back.mp4", autoplay: true, muted: true, playsinline: true, id: "tv") do %>
        Your browser does not support the video tag.
      <% end %>
    </div>
    <div>
      <%= image_tag("lamp.png", alt: "Lamp", id: "lamp") %>
      <%= image_tag("light-on.png", alt: "Light", id: "light") %>
    </div>
    <div>
      <%= image_tag("tv.png", alt: "Tv", id: "tv-off") %>
    </div>
    <div>
      <%= image_tag("dogbed.png", alt: "Dog bed", id: "dog-bed") %>
    </div>
  </div>
  <%= image_tag("walking-stick.png", alt:"Walking Stick", id:"stick") %>
  <%= image_tag("dog.png", alt:"Dog", id:"dog") %>
  <%= image_tag("backpack.png", alt: "Backpack", id: "backpack") %>
  <div class="tv-popup-container">
    <%= image_tag("tv-pop-up.png", alt: "Tv", id: "tv-screen") %>
    <div class="tv-content">
      <h1>Meet Me Online</h1>
        <p>Here, you'll find a collection of clickable objects that reveal different aspects of my life and personality.
        Navigate through this space, clicking on each object to uncover interesting facts about me.
        <p>The checklist below keeps track of your exploration, marking off items as you go.</p>
        This interactive experience is designed to help you learn more about me. Enjoy your journey!
        </p>
        <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="academic"></span> Click on the backpack to learn about my academic background.</p>
        <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="experience"></span> Explore my work experience by clicking on the hiking stick to discover my professional journey.</p>
        <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="technologies"></span> Check out the technologies I'm proficient in by clicking on the lamp.</p>
        <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="cv"></span> Access my detailed CV for a comprehensive overview of my qualifications and experience.</p>
      <%= image_tag("onbutton.png", class: "tv-off", id: "close-popup")%>
    </div>
  </div>
</div>
