<div class="background">
  <%= link_to("beach") do %>
      <button class="back_button">BACK<i class="fa-solid fa-caret-up fa-rotate-270" style="color: #000000;"></i></button>
  <% end %>
  <div class="background-elements">
    <%= video_tag("about_me_vid.mp4", autoplay: true, loop: true, muted: true, playsinline: true, id: "background-video") do %>
      Your browser does not support the video tag.
    <% end %>
    <div id="tv-container">
      <%= video_tag("tv-no-back.mp4", autoplay: true, muted: true, playsinline: true, id: "tv") do %>
        Your browser does not support the video tag.
      <% end %>
    </div>
    <div class="hobbies-popup-container d-none">
      <%= image_tag("hobbies.png", alt: "Hobbies", id: "hobbies-option") %>
      <%= image_tag("onbutton.png", class: "close-option", id: "close-option")%>
    </div>
    <div class="technical-skills-popup-container d-none">
      <%= image_tag("technical_skills.png", alt: "technical-skills", id: "technical-skills-option") %>
      <%= image_tag("onbutton.png", class: "close-option", id: "skills-close-option")%>
    </div>
    <div class="education-popup-container d-none">
      <%= image_tag("education.png", alt: "education", id: "education-option") %>
      <%= image_tag("onbutton.png", class: "close-option", id: "education-close-option")%>
    </div>
    <div class="work-popup-container d-none">
      <%= image_tag("work_experience.png", alt: "work experience", id: "work-option") %>
      <%= image_tag("onbutton.png", class: "close-option", id: "work-close-option")%>
    </div>
    <div>
      <%= image_tag("lamp.png", alt: "Lamp", id: "lamp") %>
      <%= image_tag("light-on.png", alt: "Light", class: "d-none", id: "light") %>
    </div>
    <div>
      <%= image_tag("tv.png", alt: "Tv", id: "tv-off") %>
    </div>
    <div>
      <%= image_tag("dogbed.png", alt: "Dog bed", id: "dog-bed") %>
    </div>
  </div>
  <%= image_tag("walking-stick.png", alt:"Walking Stick", id:"stick") %>
  <%= image_tag("dog.png", alt:"Dog", class: "d-none", id:"dog") %>
  <%= image_tag("backpack.png", alt: "Backpack", id: "backpack") %>
  <div class="tv-popup-container d-none">
    <div class="parchment">
      <%= image_tag("meet_me_online_here.png", alt: "Meet Me Online", id: "tv-screen") %>
      <div class="popup-content-tv">
          <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="academic"></span> Click on the backpack to learn about my academic background.</p>
          <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="experience"></span> Explore my work experience by clicking on the hiking stick.</p>
          <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="technologies"></span> Check out the technologies I'm proficient in by clicking on the lamp.</p>
          <p onclick="toggleCheckbox(this)"><span class="custom-checkbox" id="interests"></span> Hobbies and Interests.</p>
      </div>
    </div>
    <div>
      <%= image_tag("onbutton.png", class: "close-option", id: "close-popup") %>
    </div>
  </div>
</div>
