<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer">
    <%# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=lobster"> %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Outline">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Shadow">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Atma:wght@700&display=swap">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


  </head>

  <body>
    <div id="rotate-message">
      <%= image_tag("rotate-smartphone.png", class:"rotate-icon" , alt: "Rotate Phone") %>
      <p>Please rotate your device to landscape mode</p>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'scroll', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'train', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'checkbox', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'cloud', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'post-it', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'tv', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'orientation', "data-turbolinks-track" => true %>
  </body>
</html>
